@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>JS Bin</title>
</head>


@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}

<div style="margin-top:30px;">
    <label style="margin-top=30px;">Language:</label>
</div>

<div style="margin-top:10px;">
    <select class="form-select" aria-label="Default select example" onchange="SetCulture(this.value)" asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems">
    </select>
</div>


<div asp-validation-summary="All" class="text-danger"></div>
@{
    string culture = "", uiculture = "";
    if (Context.Request.QueryString.HasValue)
    {
        string url = Context.Request.QueryString.Value;
        culture = Context.Request.Query["culture"];
        uiculture = Context.Request.Query["ui-culture"];
    }
}

@model AuthorizationProject.Models.Hayvan
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="page-section" id="contact">
        <div class="container">
            <!-- Contact Section Heading-->
             <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">@Localizer["HAYVAN SAHİPLENDİR"]</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7">
                <form asp-action="HayvanEkle" asp-route-culture="@culture" asp-route-ui-culture="@uiculture" enctype="multipart/form-data" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="HayvanKategori" class="form-control" type="text" placeholder="Kategori giriniz..." ></input>
                            <label asp-for="HayvanKategori" class="control-label"></label>
                            <span asp-validation-for="HayvanKategori" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="HayvanYas" class="form-control" placeholder="Hayvanın yaşını giriniz...">
                            <label asp-for="HayvanYas" class="control-label"></label>
                             <span asp-validation-for="HayvanYas" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="HayvanIrk" class="form-control" placeholder="Hayvanın ırkını giriniz...">
                            <label asp-for="HayvanIrk" class="control-label"></label>
                        <span asp-validation-for="HayvanIrk" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="HayvanCinsiyet" class="form-control" placeholder="Hayvanın cinsiyetini giriniz..."></input>
                            <label asp-for="HayvanCinsiyet" class="control-label"></label>
                        <span asp-validation-for="HayvanCinsiyet" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="HayvanSehir" class="form-control" placeholder="Hayvanın bulunduğu şehri giriniz...">
                            <label asp-for="HayvanSehir" class="control-label"></label>
                        <span asp-validation-for="HayvanSehir" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">

                        <input type="file" name="file" class="form-control" />
                        <label asp-for="HayvanResim" class="control-label"></label>
                        <span asp-validation-for="HayvanResim" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <button class="btn btn-primary btn-xl" type="submit">@Localizer["Ekle"]</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</section>



<script>
    function SetCulture(selectedValue) {
        alert(selectedValue);
        var url = window.location.href.split('?')[0];
        var culture = "?culture=" + selectedValue + "&ui-culture=" + selectedValue;
        window.location.href = url + culture;
    }
</script>


